.user {
  display: grid;
  grid-template-columns: 75px 1fr;
  width: 400px;
  margin-bottom: 15px;
}

.user img {
  width: 48px;
  height: 48px;
}

.user_info_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

.user_info_left button {
  width: 75px;
}

.user_info_right {
  display: flex;
  justify-content: space-between;
  border: 1px solid #9a9fbf;
  border-radius: 10px;
  font-weight: bold;
  color: #515365;
}

.user_name_status, .user_location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user_name_status {
  padding: 5px 0 5px 5px;
}

.user_name_status a {
  text-decoration: none;
  color: #515365;
}

.status {
  font-weight: normal;
  color: #9a9fbf;
}

.user_location {
  padding: 5px 5px 5px 0;
  text-align: right;
}
