.post {
  display: flex;
}

.circle {
  margin: 0 10px 5px 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #bbb;
}

.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2px;
}

.likes {
  width: 70px;
}
