.link {
  text-decoration: none;
}

.dialog {
  display: flex;
  margin-bottom: 10px;
  padding-right: 10px;
}

.dialog img {
  width: 48px;
  padding-right: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 3px;
}

.username {
  font-weight: bold;
  color: #515365;
}

.message, .message_info {
  color: #9a9fbf;
}

.message_info {
  font-size: 10px;
}

.message_count {
  margin-top: 5px;
  border-radius: 10px;
  background: #9a9fbf;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
}
