.new_post {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.new_post textarea {
  resize: none;
  margin-top: 20px;
  padding: 3px;
  background: #b0b0b0;
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.posts {
  margin-top: 20px;
}
