.app-wrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  background: #edf2f6;
}


.app-wrapper-content {
  grid-area: content;
  padding: 10px;
}
